* {
  padding: 0;
  margin: 0;
}

body {
  font 12px/1.4 Tahoma
}

:root
  --pointer-radious: 20px

canvas {
  width: 500px;
  height: 500px;
  border: 1px solid red;
  background url("./tr.png")
  background-position 0 0
}

.b-controls {
  margin: 5px;
  b {
    display: block;
    margin-top 5px
  }
  input {
    padding 3px 5px
  }
}

.canvas {
  position relative
  margin 5px
  float: left
}

#point {
  position absolute
  border 1px solid black
  width var(--pointer-radious)
  height var(--pointer-radious)
  border-radius var(--pointer-radious)
  transform translate(-50%, -50%)
  bottom 10px
  left 10px
  .end {
    width 3px
    height 50px
    background red
    position absolute
    bottom 0
    left 50%
    transform translate(-50%, -5px)
    &:before, &:after {
      content ""
      background red
      position absolute
      top 0
      right 0
      height 15px
      width 3px
      transform rotate(30deg)
      transform-origin right top
    }
    &:after {
      transform-origin left top
      transform rotate(333deg)
    }
  }
  .drop {
    position absolute
    width var(--pointer-radious)
    height var(--pointer-radious)
    border 1px solid black
    border-radius var(--pointer-radious)
    top 0
    left 50%
    transform translate(-50%, -50%)
    cursor grab
    z-index 1
  }
}