* {
  padding: 0;
  margin: 0;
  outline none
}

.none
  display none

body
  font 12px/1.4 Tahoma
  background #f0f0f0
  max-width 1200px
  margin 0 auto


.align-center
  text-align center

:root
  --pointer-radious: 20px

.pos-away
  position fixed!important
  left -100000px!important
  top -100000px!important

canvas {
  width 100%
  height 100%
  background url("./images/pat1.png")
  background-position 0 0
  position absolute
  left 0
  top 0
}

.b-wrap
  display flex
  height 500px
  box-shadow 1px 1px 10px #c0c0c0
  background white
  margin 10px

.b-controls {
  margin: 5px;
  padding: 5px 15px;
  width: 300px;
  overflow-y: scroll;
  b {
    display: block;
    margin-top 5px
  }
  input {
    padding 3px 5px
  }
}

.canvas {
  position: relative;
  width: 100%;
  background: white;
  overflow: hidden;
  flex: 1;
}

#point {
  position absolute
  border 1px solid black
  width var(--pointer-radious)
  height var(--pointer-radious)
  border-radius var(--pointer-radious)
  transform translate(-50%, -50%)
  left 200px
  top 200px
  .end {
    width 0
    height 0
    position absolute
    bottom 0
    left 50%
    transform translate(-50%, -10px)
    z-index 1
    &:after {
      left: -1px;
      right: -1px;
      top: 0;
      bottom: 0;
      background: #f00;
      content: '';
      pointer-events: none;
      position: absolute;
    }
  }
  .drop {
    position absolute
    width var(--pointer-radious)
    height var(--pointer-radious)
    border 1px solid black
    border-radius var(--pointer-radious)
    top 0
    left 50%
    transform translate(-50%, -50%)
    cursor grab
    z-index 2
    background #fff5
    &:before, &:after {
      content: "";
      background: #f00;
      position: absolute;
      top: 11px;
      right: 9px;
      height: 15px;
      width: 2px;
      transform: rotate(30deg);
      transform-origin: right top;
    }
    &:after {
      transform-origin left top
      transform rotate(333deg)
    }
  }

  .drag {
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    cursor move
    z-index 1
    background #fff5
  }
}

.clr
  clear both
  display block

.ui-slider
  display flex
  position relative
  align-items: center;
  margin 5px 0px

  &__point
    position absolute
    background #2c3e50;
    width 20px
    height 20px
    border-radius 20px
    left 10px
    top 50%
    transform: translateY(-50%) translateX(-50%);

  &__body
    margin 0 10px
    height 10px
    position relative
    &:after
      position absolute
      left -10px
      top -5px
      bottom -5px
      right -10px
      content ""
      cursor pointer

  &__range
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;

  &__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left 15px

    &:after {
      position: absolute;
      top: 8px;
      left: -7px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 7px solid #2c3e50;
      border-bottom: 7px solid transparent;
      content: '';
    }
  }

.ui-radio
  display block
  position relative
  margin 5px 0
  cursor pointer
  line-height 38px
  padding-left 35px
  border-radius 5px
  &:hover
    background #FAFAFA
  input
    opacity 1
    position absolute
    left 0
    top 0
    opacity 0
  .toggle
    content ''
    width 18px
    height 18px
    display inline-block
    border-radius 24px
    border 2px solid  #2c3e50
    position absolute
    margin-right 10px
    left 0
    top 50%
    transform translateY(-50%)

    &:after
      transition all 0.2s
      background #2c3e50
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      transform scale(0)
      content ''
      border-radius 24px

  input:checked ~ .toggle:after
    opacity 1
    transform scale(0.8)

button
  background #2c3e50
  color white
  padding 10px 15px
  margin 3px
  border 0
  border-radius 3px
  cursor pointer
  opacity 0.7
  &:hover
    opacity 1

.ui-image
  background: none no-repeat center;
  background-size: cover;
  margin 0 3px
  width: 42px;
  height: 42px;
  border-radius: 3px;
  border: 2px solid #2c3e50;
  display: inline-block;
  position relative
  cursor pointer
  opacity 0.7
  float left
  margin-bottom 5px

  &.item:after
    content: " ";
    display: block;
    width: 1em;
    height: 2em;
    border: solid #2c3e50;
    border-width: 0 3px 3px 0;
    position: absolute;
    left: 1em;
    top: 14%;
    opacity 0
    transform: rotate(45deg) scale(0.1);
    pointer-events none
    transition all 0.2s

  &.item.selected
    pointer-events none
    &:after
      opacity 1
      transform: rotate(45deg) scale(1);


  &.add
    border-radius 50px
    &:after, &:before
      content ''
      background #2c3e50
      width 30px
      height 4px
      position absolute
      top 50%
      left 50%
      opacity 1
      transform: translateY(-50%) translateX(-50%);
    &:after
      transform: translateY(-50%) translateX(-50%) rotate(90deg)

.ui-image + .ui-image
  margin-left 5px

// #1ABC9C
.ui-group
  padding 15px 10px 10px
  margin 10px -10px 20px
  border 1px solid silver
  border-radius 5px
  position relative

  &__title
    position: absolute;
    top: -15px;
    left: 5px;
    padding: 5px 10px 5px 30px;
    background: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    &:hover
      background #d7dcdf

    &:before
      position: absolute;
      top: 8px;
      left: 10px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 7px solid #2c3e50;
      border-bottom: 7px solid transparent;
      transform: rotate(-90deg);
      content: '';
      transition all 0.2s

    &.hide:before
      transform: rotate(-180deg);


  &__title.hide + &__body
    display none;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background #e0e0e0
}

#polygons
  position absolute
  left 0
  top 0
  span
    position absolute
    transform translate(-50%, -50%)
    background white
    border 1px solid black
    width 20px
    height 20px
    cursor move


