doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(rel='stylesheet' href='app.css')
  body
    div(vocab='b-wrap')
      .canvas
        canvas#canvas(width='500' height='500')
        #point(style='transform: rotate(45deg)')
          .end
            .drop
      #controls.b-controls

        b Background:
        div
          label
            input(type='radio' name='bgType' value='grid')
            |  Grid:
            input#grid(type='number' value='50')
        div
          label
            input(type='radio' name='bgType' value='image')
            |  Image:
      div
        button Start
        button Pause
        #logs

      div(style="margin: 100px; width: 300px")
        .clr
        div Швидкість
        .ui-slider
          .ui-slider__range
            .ui-slider__point
          .ui-slider__value 25

        div Кут до горизонталі
          .ui-slider
            .ui-slider__range
              .ui-slider__point
            .ui-slider__value 25

        label.ui-radio
          input(type='radio' name='type' value='none')
          .toggle
          | Немає фону

        label.ui-radio
          input(type='radio' name='type' value='image')
          .toggle
          | Картинка

        div
          .ui-image.selected
          .ui-image.add

        label.ui-radio
          input(type='radio' name='type' value='grid')
          .toggle
          | Сітка





    script(src='app.js')
