doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(rel='stylesheet' href='app.css')
  body
    .none
      .ui-slider
        .ui-slider__range
          .ui-slider__body(ref='body')
            .ui-slider__point(ref='point')
        .ui-slider__value(ref='title')
    div(class='b-wrap')
      .canvas
        canvas#canvas(width='500' height='500')
        div
          #polygons
          #point(style='transform: rotate(45deg)')
            .drag(role='move')
            .end
              .drop(role='set')

      #controls.b-controls
        .ui-group
          .ui-group__title General
          .ui-group__body
            div Started speed:
              input(type='number' min='10' max='300' value='50' step='1' name='speed')

            div Horizontal angle:
              input(type='number' min='0' max='360' value='45' step='1' name='angle')

            div Speed attenuation:
              input(type='number' min='0.1' max='0.9' value='0.4' step='0.1' name="attenuation")

            div Gravity
              input(type='number' min='0' max='100' value='30' step='1' name="gravity")

            div Game speed
              input(type='number' min='1' max='10' value='5' step='1' name="game")

            button Start
            button Pause
            button Reset

        .ui-group
          .ui-group__title Information:
          #logs.ui-group__body

        .ui-group
          .ui-group__title.hide Obstacles
          .ui-group__body.align-center
            button Add an obstacle
            button Add a line
            button Remove all


        .ui-group
          .ui-group__title.hide Background
          .ui-group__body
            label.ui-radio
              input(type='radio' name='background' value='image' checked)
              .toggle
              | Image background:

            div(id="images")
              .ui-image.item.selected(data-img='./images/pat1.png')
              .ui-image.item(data-img='./images/pat2.png')
              .ui-image.item(data-img='./images/pat3.png')
              .ui-image.add(title="Upload image")
              input.pos-away(type='file' id='selectFile' accept="image/x-png,image/gif,image/jpeg")
              .clr

            label.ui-radio
              input(type='radio' name='background' value='grid')
              .toggle
              | Grid background

            div Grid size
              input(type='number' min='50' max='200' value='50' step='50' name="grid")

            label.ui-radio
              input(type='radio' name='background' value='none')
              .toggle
              | Without background




    script(src='app.js')
