doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1")
    title
    link(rel='stylesheet' href='app.css')
    link(rel='stylesheet' href='test.css?h0hd')
    style.
      .anim {
        transition: all 0.2s
      }
  body

    #app(class='b-wrap' style="flex-direction: column;")
      div.card

    //#img
    //  img(src="1.jpg")

    script(src='test.js?s0a0=fa0ds')
